<nb-card>
  <nb-card-header>
    Preditions Table
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="form-group col-3">
        <label for="alghoritm-select">Select machine learning algorithm:</label>
        <nb-select placeholder="Select Alghoritm" id="alghoritm-select" [(ngModel)]="selectedAlgorithm" (ngModelChange)="algorithmChange()">
          <nb-option *ngFor="let algorithm of algorithms" value="{{algorithm.name}}">{{algorithm.name}}</nb-option>
        </nb-select>
      </div>
    </div>

    <div class="row" style="margin-bottom: 10px">
      <div class="col-3" style="padding-top: 35px">
        <input type="text" nbInput fullWidth (input)="filterTableByName($event.target.value)" placeholder="Player's name">
      </div>
      <nb-select [(ngModel)]="selectedTeams" (ngModelChange)="filterTableByTeam()" class="col-3 bottom-column" multiple placeholder="Select team" style="padding-top: 35px">
        <nb-option>Clean selector</nb-option>
        <nb-option *ngFor="let team of teams" value="{{team}}">{{team}}</nb-option>
      </nb-select>
        <div class="col-3 form-group">
          <div class="d-flex flex-column">
          <label for="price-slider">Player's price:</label>
          <ng5-slider class="custom-slider" [(value)]="priceSliderBottom" [(highValue)]="priceSliderUp" [options]="priceSliderOptions" (userChangeEnd)="filterTableByPrice()" id="price-slider"></ng5-slider>
          </div>
        </div>

        <div class="col-3 form-group">
          <div class="d-flex flex-column">
          <label for="form-slider">Player's form:</label>
          <ng5-slider class="custom-slider" [(value)]="formSliderBottom" [(highValue)]="formSliderUp" [options]="formSliderOptions" (userChangeEnd)="filterTableByForm()" id="form-slider"></ng5-slider>
          </div>
        </div>

    </div>
    <ng2-smart-table [settings]="tableSettings" [source]="tableDataSource">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
